* {
    background-image: none;
    box-shadow: none;
    font-family: "ComicCode Nerd Font";
    font-size: 14pt;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: #59100d;
    outline-style: none;
}

#lock {
    background-image: url("/home/jeannikl/.config/wlogout/lock.svg");
}

#logout {
    background-image: url("/home/jeannikl/.config/wlogout/logout.svg");
}

#suspend {
    background-image: url("/home/jeannikl/.config/wlogout/suspend.svg");
}

#hibernate {
    background-image: url("/home/jeannikl/.config/wlogout/hibernate.svg");
}

#shutdown {
    background-image: url("/home/jeannikl/.config/wlogout/shutdown.svg");
}

#reboot {
    background-image: url("/home/jeannikl/.config/wlogout/reboot.svg");
}
